/* CAMPOS OCULTOS DINÁMICOS*/
#camposPersonaMoral{
    display: none;
}

#campoDetalle{
    display: none;
}

#camposPersonaFisicaActEmp{
    display: none;
}

#camposPersonaFisica{
    display: none;
}

#campoFechaValidacion{
    display: none;
}

#CampoTipoGarantia{
    display: none;
}

body{
    max-width: 95%;
}
