/* CAMPOS OCULTOS DINÁMICOS*/
#camposPersonaMoral{
    display: none;
}

#campoDetalle{
    display: none;
}

#camposPersonaFisicaActEmp{
    display: none;
}

#camposPersonaFisica{
    display: none;
}

#campoFechaValidacion{
    display: none;
}

#CampoTipoGarantia{
    display: none;
}

body{
    max-width: 95%;
}

.campo-invalido {
    border-color: red !important;
}

input[type="date"] {
    text-align: center;
}

.file-upload-icon:hover {
    color: #007bff; /* Cambia el color a tu preferencia */
    cursor: pointer;
}

/* Ocultar las flechas de incremento y decremento en los campos de número */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
